<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="">
    <environment id="">
      <transactionManager type="JDBC"/>
    	<dataSource type="JNDI">
          <property name="data_source" value="java:comp/env/jdbc/mysql"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatis/mapper/course.xml"/>
    <mapper resource="mybatis/mapper/courseType.xml"/>
    <mapper resource="mybatis/mapper/file.xml"/>
    <mapper resource="mybatis/mapper/right.xml"/>
    <mapper resource="mybatis/mapper/room.xml"/>
    <mapper resource="mybatis/mapper/skill.xml"/>
    <mapper resource="mybatis/mapper/staff.xml"/>
    <mapper resource="mybatis/mapper/subject.xml"/>
    <mapper resource="mybatis/mapper/time.xml"/>
    <mapper resource="mybatis/mapper/upskill.xml"/>
    <mapper resource="mybatis/mapper/serve.xml"/>
  </mappers>
</configuration>