@charset "UTF-8";
	#center{
		width: 100%;
		height: 900px; 
		border: 1px solid blue;
		display: flex;
	}
	.left{
		width: 20%;
		
		border: 1px solid blue;
	}
	.right{
		width: 80%;
		border: 1px solid blue;
	}
	#list2 .title{
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		
		width: 100%;
		height: 40px;
		background: #5CD1E5;
		line-height: 40px;
	}
	#list2 .title a{
		display: inline-block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: white;
	}
	#list2{
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
	}
	
	#list2 .content{
		padding: 0;
		margin: 0;
		display: inline-block;
		width: 100%;
		height: 40px;
		background: #343434;
		line-height: 40px;
	}
	
	#list2 .content:hover{
		padding: 0;
		margin: 0;
		display: inline-block;
		width: 100%;
		height: 40px;
		background: black;
		line-height: 40px;
	}
	
	#list2 .l_select a{
		background: black;
	}
	
	#list2 .content a{
		display: inline-block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: white;
	}
	
	